// region Abhaya Libre font
@font-face {
    font-weight: 700;
    font-family: "Abhaya Libre";
    font-style: normal;
    src:
        url("../assets/fonts/Abhaya_Libre/AbhayaLibre-Bold.ttf") format("opentype");
}

@font-face {
    font-weight: 400;
    font-family: "Abhaya Libre";
    font-style: normal;
    src:
        url("../assets/fonts/Abhaya_Libre/AbhayaLibre-Regular.ttf") format("opentype");
}

// endregion Abhaya Libre font

// region Nunito Sans font

@font-face {
    font-weight: 700;
    font-family: "Nunito Sans";
    font-style: normal;
    src:
        url("../assets/fonts/Nunito_Sans/NunitoSans-Bold.ttf") format("opentype");
}

@font-face {
    font-weight: 400;
    font-family: "Nunito Sans";
    font-style: normal;
    src:
        url("../assets/fonts/Nunito_Sans/NunitoSans-Regular.ttf") format("opentype");
}

// endregion Nunito Sans font
