 .footer {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    justify-content: space-between;
 }

 .linkText {
    padding: 5px 0;
    max-width: 56px;
    font-weight: 700;
    font-size: 12px;
    color: #679790;
    opacity: 0.7;
    text-align: center;
    text-transform: uppercase;
}